/* @media all and (max-width: 768px) { */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: auto;
  background-color: #f7f7f9;
  overflow-x: hidden;
}

.bgcolor {
  background-color: white;
}

.coverPage {
  width: 100vw;
  height: auto;
  margin-bottom: 6rem;
  padding: 1%;
  background-color: white;
  border-bottom-left-radius: 80px;
}

.logo {
  color: #6070ff;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.blur {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.menu > ul {
  display: none;
}

.show {
  display: block !important;
}

.show .menu ul {
  display: block;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  color: #344563;
}

.show .toggleNav {
  display: none;
}

.show .menu > div {
  display: block;
}

.exit {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: -20px;
}

.show .menu {
  position: relative;
  display: block;
  z-index: 9;
  /* position: absolute; */
  height: 40px;
  left: 16px;
  right: 16px;
  top: 60px;
}

.show .menu li {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-bottom: 15px;
}

.mobile-overlay {
  background-color: #6070ffe3 !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4;
}

.introName {
  height: auto;
  width: 95vw;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: left;
  padding-bottom: 3rem;
}

.intro {
  width: 80vw;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  margin-bottom: 5%;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1%;
}

.topHeader {
  width: 85vw;
  padding-left: 25px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  margin-top: 1rem;
  font-size: 24px;
  width: 40%;
  padding-left: 0;
}

.my_links {
  width: 40%;
  margin: 0;
  padding: 0;
}

.fa {
  color: #505f79;
}

.backgroundImg {
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 103.9993896484375px;
  margin-bottom: 6rem;
  background-color: white;
}

.toggleNav {
  width: 18px;
  height: 12px;
  align-self: center;
}

.coverInfo {
  margin-left: 10%;
}

.coverName {
  width: 50%;
}

.coverIntro {
  width: 60%;
}

/* Portfolio "Works" section */

.works {
  display: grid;
  grid-template-rows: 4, 1fr;
  row-gap: 5rem;
}

.wrapCards {
  background-color: #f7f7f9;
}

.portfolio2 {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
}

.mainContainer1 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
  background-color: white;
}

.mainContainer2 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio2.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
  background-color: white;
}

.mainContainer3 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio3.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
  background-color: white;
}

.mainContainer4 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio4.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
  background-color: white;
}

.infoCard {
  margin-top: 80%;
}

.name {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 5%;
}

.decription {
  width: 90vw;
  height: auto;
  font-size: 15px;
}

.job {
  list-style: none;
}

.info_job {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  width: 90vw;
  height: auto;
  margin-bottom: 5%;
}

.linkButtons {
  display: flex;
  padding: 4px 0;
  justify-content: flex-start;
  gap: 5%;
  margin-top: 5%;
  font-size: 15px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 5%;
}

.link {
  background-color: #ebebff;
  font-size: 15px;
  color: #123690;
  border: 1px solid #123690;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
}

.more {
  size: 20px;
  line-height: 24px;
  font-size: 17px;
  padding: 2% 5%;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 0;
  transition: all 0.5s;
}

.more:hover {
  color: #fff;
  background-color: #396df2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.more:active {
  background-color: #396df2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Portfolio "about me" section */

.mainContainerAboutme {
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  background-color: white;
  padding: 10%;
  border-top-right-radius: 80px;
}

.dropdownMenu {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
}

.ddm {
  width: 80vw;
  height: auto;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 5% 0;
  border-bottom: 1px solid #dfe1e6;
}

.ddm1 {
  width: 80vw;
  height: auto;
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 1rem;
}

.dropdownButtons {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  justify-content: space-between;
}

.buttonLink {
  background: #f7f7f9;
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  padding-right: 40px;
  margin-bottom: 10px;
}

/* aboutme2 */

.mainContainerAboutme2 {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  border-top-left-radius: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #6070ff;
  background-image: url(img/header-shapes\ mobile.png);
  background-size: 100%;
  left: -34px;
  top: 103.9993896484375px;
}

.contactMe {
  padding-top: 10%;
  text-align: center;
  color: #ebebff;
  margin: 10%;
  font-size: 40px;
  font-weight: 700;
}

.moreInfo {
  width: 80vw;
  height: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 10%;
}

textarea {
  display: inline-block;
  width: 90%;
  height: 10rem;
  font-size: 15px;
  border-radius: 8px;
  justify-self: center;
  text-align: start;
  padding: 3%;
}

#textarea {
  width: 90%;
  justify-self: center;
  border-radius: 8px;
  padding: 10px;
}

input {
  width: 90%;
  height: 2.5rem;
  justify-self: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 0;
}

#get {
  margin-top: 5%;
}

#get:hover {
  background: #fff;
  color: #123690;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.line {
  display: flex;
  justify-content: center;
}

.line > div {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 32px;
  margin-bottom: 8px;
}

.desktopWorks {
  display: none;
}

#getResume {
  size: 20px;
  line-height: 24px;
  font-size: 17px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
}

@media (min-width: 768px) {
  .backgroundImg {
    background-image: url(img/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    margin-bottom: 4rem;
  }

  .menu li {
    padding-right: 3rem;
    color: #344563;
  }

  .menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    color: #344563;
  }

  .menu > div {
    display: none;
  }

  .Personal_info {
    padding-left: 20%;
    align-self: center;
    padding-top: 15%;
    margin-right: 0;
  }

  .coverInfo {
    margin-left: 0;
    margin-right: 0;
  }

  .introName {
    width: 70%;
  }

  .textAboutme {
    font-size: 16px;
    margin-right: 0;
    padding-right: 0;
  }

  .intro {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 80%;
    margin-right: 0;
  }

  .connect {
    padding-left: 0;
    margin-right: 0;
    display: inline-block;
  }

  .media_links {
    padding-bottom: 20px;
    margin-right: 0;
  }

  .wrapCards > .works {
    display: none;
  }

  .desktopWorks {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    justify-content: center;
    row-gap: 5rem;
    margin: 0;
    margin-top: 10px;
  }

  .odd {
    padding-left: 7rem;
  }

  .desktop1 {
    width: 90%;
    height: auto;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    column-gap: 40px;
    background-color: white;
  }

  .desktop2 {
    width: 90%;
    height: auto;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: center;
    column-gap: 10px;
    background-color: white;
  }

  .desktop3 {
    width: 90%;
    height: auto;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    column-gap: 40px;
    background-color: white;
  }

  .desktop4 {
    width: 90%;
    height: auto;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: center;
    column-gap: 10px;
    background-color: white;
  }

  .desktop-cards {
    transition: width 0.5s;
  }

  .desktop-cards:hover {
    width: 95%;
  }

  .imgBG {
    width: 90%;
    height: 90%;
    margin: 15px;
  }

  .infoCard {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    margin: 15px;
    font-size: 16px;
    padding: 0;
  }

  .name {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .decription {
    width: 100%;
    height: auto;
    font-size: 15px;
    margin-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .linkButtons {
    width: 100%;
    margin-top: 3% 0;
  }

  .more {
    margin-top: 0;
    margin-bottom: 2%;
    margin-right: 0;
  }

  .info_job {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    width: 100%;
    height: auto;
    color: #6b778c;
    margin-bottom: 30px;
  }

  .job {
    color: #344563;
  }

  .mainContainerAboutme {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
  }

  .top {
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .dropdownMenu {
    width: 40%;
    height: auto;
    margin-left: -40px;
  }

  .ddm1 {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .ddm {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .buttonLink {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding: 8px;
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .button2 {
    padding-right: 50px;
    padding-left: 20px;
  }

  .button3 {
    padding-right: 50px;
    padding-left: 20px;
    margin-right: 0;
  }

  .js {
    margin-top: 15px;
    font-size: 20px;
  }

  .dropdownButtons {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .aboutMe {
    padding: 0;
    margin-right: 0;
  }

  .mainContainerAboutme2 {
    display: flex;
    justify-items: center;
  }

  .moreInfo {
    width: 100%;
    margin-right: 0;
  }

  #get {
    margin-left: 25%;
  }

  .menuBtn {
    transition: all 0.5s;
  }

  .menuBtn:hover {
    font-size: larger;
    font-weight: bold;
  }
}
