/* @media all and (max-width: 768px) { */
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
}

.coverPage {
  width: 100vw;
  height: auto;
  margin-bottom: 6rem;
  padding: 1%;
}

.logo {
  color: #6070ff;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.introName {
  height: auto;
  width: 95vw;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: left;
  padding-bottom: 3rem;
}

.intro {
  width: 95vw;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  margin-bottom: 5%;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1%;
  margin-top: 10%;
}

.topHeader {
  width: 95vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  margin-top: 1rem;
  font-size: 24px;
}

.fa {
  color: #505f79;
}

.backgroundImg {
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 103.9993896484375px;
  margin-bottom: 6rem;
}

.toggleNav {
  width: 18px;
  height: 12px;
  align-self: center;
}

/* Portfolio "Works" section */

.works {
  display: grid;
  grid-template-rows: 4, 1fr;
  row-gap: 5rem;
}

.portfolio2 {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
}

.mainContainer1 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
}

.mainContainer2 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio2.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
}

.mainContainer3 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio3.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
}

.mainContainer4 {
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  background-image: url(img/Snapshoot\ Portfolio4.png);
  background-repeat: no-repeat;
  background-size: 80% 40%;
  background-position-x: center;
  background-position-y: 15px;
}

.infoCard {
  margin-top: 80%;
}

.name {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 5%;
}

.decription {
  width: 90vw;
  height: auto;
  font-size: 15px;
}

.job {
  list-style: none;
}

.info_job {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
  width: 90vw;
  height: auto;
  margin-bottom: 5%;
}

.linkButtons {
  display: flex;
  padding: 4px 0;
  justify-content: flex-start;
  gap: 5%;
  margin-top: 5%;
  font-size: 15px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 5%;
}

.link {
  background-color: #ebebff;
  font-size: 15px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px 10px;
}

.more {
  size: 20px;
  line-height: 24px;
  font-size: 17px;
  padding: 2% 5%;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #396df2;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 2%;
}

.more:hover {
  background-color: #7e9dec;
}

.more:active {
  background-color: #396df2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Portfolio "about me" section */

.mainContainerAboutme {
  box-sizing: border-box;
  width: 100vw;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10%;
  padding: 0;
  margin-top: 5rem;
}

.dropdownMenu {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
  list-style: none;
}

.ddm {
  width: 80vw;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 5% 0;
  border-bottom: 1px solid #dfe1e6;
}

.ddm1 {
  width: 80vw;
  height: auto;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 1rem;
}

.dropdownButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80vw;
  height: auto;
}

.buttonLink {
  background: #f7f7f9;
  border-radius: 8px;
  box-sizing: border-box;
  width: 90vw;
  height: 66px;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

/* aboutme2 */

.mainContainerAboutme2 {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  border-top-left-radius: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #6070ff;
  background-image: url(img/header-shapes\ mobile.png);
  background-size: 100%;
  left: -34px;
  top: 103.9993896484375px;
}

.contactMe {
  padding-top: 10%;
  text-align: center;
  color: #ebebff;
  margin: 10%;
  font-size: 40px;
  font-weight: 700;
}

.moreInfo {
  width: 80vw;
  height: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 10%;
}

textarea {
  display: inline-block;
  width: 90%;
  height: 10rem;
  font-size: 15px;
  border-radius: 8px;
  justify-self: center;
  text-align: start;
  padding: 3%;
}

#textarea {
  width: 90%;
  justify-self: center;
  border-radius: 8px;
  padding: 10px;
}

input {
  width: 90%;
  height: 2.5rem;
  justify-self: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 0;
}

#get {
  margin-top: 5%;
}

.line {
  display: flex;
  justify-content: center;
}

.line > div {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-top: 32px;
  margin-bottom: 8px;
}
